{
  margin:0;
  padding:0;
  font-family:tahoma.sans-serif;
  box-sizing: border-box;
}
  body{background:url("chatbot1.jpg");
  }
.chatbox{
  width:500px;
  min-width:390px;

  height:600px;
  padding:25px;
  margin:20px auto;
  box-shadow: o 3px #ccc;
}
.chatlogs
{
  padding:10px;
  width:100%;height:450px;
}
.chat {
  display:flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.chat.chat-message
{width:80%;padding:50px;margin:5px 10px 0;
background: #1ddced;
color:#fff;
font-size:18px;}
