<!DOCTYPE html>
 <html>
   <head>
          <title>IBM Watson Conversation</title>
            <link rel='stylesheet' type='text/css' href='stylesheets/style.css'/>
            <script type="text/javascript">
                   var context = {};
         function updateChatLog(user, message) {
                   if (message) {

              var div = document.createElement("div");








               div.innerHTML = "<b>" + message+ "</b> " +"</br>"+"</br>" ;


                document.getElementById("history").appendChild(div);
                document.getElementById("text").value = "";
                  }
                    }
                    function updateChatLog1(user, message) {
                              if (message) {

                         var div = document.createElement("div");




                         div.style.background='lightblue';

                          div.innerHTML = "<b>" + message+ "</b> " +"</br>"+"</br>" ;
                           document.getElementById("history").appendChild(div);
                           document.getElementById("text").value = "";
                             }
                               }

                        function sendMessage() {
                      var text = document.getElementById("text").value;
                               updateChatLog("You", text);
                                     var payload = {};
                                          if (text) {
                                     payload.input = {"text": text};
                                          };
                        if (context) {
                        payload.context = context;
                     };
              var xhr = new XMLHttpRequest();
                     xhr.onreadystatechange = function()
                      {           if (xhr.readyState == 4) {
                                    if (xhr.status == 200) {
                             var json = JSON.parse(xhr.responseText);
                                          context = json.context;
                              updateChatLog1("Watson", json.output.text);
                                      }
                                           }
                                              }

                        xhr.open("POST", "./conv", true);
                      xhr.setRequestHeader("Content-type", "application/json");
                          xhr.send(JSON.stringify(payload));
                              }

  function init() {
            document.getElementById("text").addEventListener("keydown", function(e) {
                if (!e) {
                            var e = window.event;
                                  }
                                   if (e.keyCode == 13) {
                                                sendMessage();
                                              }
                                             }, false);
                                                    sendMessage();
                                                       }
                                              </script>
                                              </head>
                                          <body onLoad="init()">
                                            <div class="chatbox">

                                              <div class="chatlogs">
                                                <div class="chat">


                                                 <p/>    <div style="background-color:red">Enter text to be sent to Watson.</div>
                                                     <div> <input type="text" id="text" name="text" size="50" />
                                                           <button onclick="sendMessage()">Send</button>

                                                    <p/><div id="history"></div>
                                                  </div>
                                                </div></div>
                               </div>

                                                   </body>
                                                   </html>
